{% extends 'usuarios/base.html' %}

{% block content %}
<div class="card shadow-sm">
  <div class="card-header">
    <h3 class="card-title mb-0">Editando Usuário: {{ usuario.nome }}</h3>
  </div>
  <div class="card-body">
    <form action="" method="POST">
      {% csrf_token %}
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="nome" class="form-label">Nome:</label>
          <input name="nome" id="nome" type="text" value="{{ usuario.nome }}" class="form-control" required>
        </div>
        <div class="col-md-6 mb-3">
          <label for="idade" class="form-label">Idade:</label>
          <input name="idade" id="idade" type="number" value="{{ usuario.idade }}" class="form-control" required>
        </div>
        <div class="col-md-12 mb-3">
          <label for="email" class="form-label">Email:</label>
          <input name="email" id="email" type="email" value="{{ usuario.email }}" class="form-control" required>
        </div>
      </div>
      <div class="form-check mb-3">
        <input name="ativo" id="ativo" type="checkbox" class="form-check-input" {% if usuario.ativo %}checked{% endif %}>
        <label for="ativo" class="form-check-label">Usuário Ativo</label>
      </div>
      <button type="submit" class="btn btn-success">Salvar Alterações</button>
      <a href="{% url 'home' %}" class="btn btn-secondary">Cancelar</a>
    </form>
  </div>
</div>
{% endblock %}